@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700');

@font-face {
    font-family: 'ralewayheavy';
    src: url('raleway-heavy-webfont.woff2') format('woff2'),
         url('raleway-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
}

@colorCahee: #262626;

body {
	width: 1500px;
}

.cahee {
	background: url("image/img.jpg");
	width: 1500px;
	height: 1000px;
	padding-left: 166px;
	padding-top: 51px;
}

.cahee__logo {
	font-family: Pacifico;
    color: @colorCahee;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
}

.cahee__nav {
	margin-left: 613px;
	margin-top: -15px;
}

.cahee___nav-list {
	display: inline-block;
	font-family: Raleway;
    color: @colorCahee;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding-right: 38px;
    padding-bottom: 266px;
    .cahee__link {
    	color: @colorCahee;
    	&:hover {
    		border-top: 3px solid #ff6033;
    		padding-top: 9px;
    	}
    }
}

.cahee__title {
	font-family: Raleway;
    color: @colorCahee;
    font-size: 60px;
    font-weight: 800;
    line-height: 25px;
    padding-bottom: 35px;
}

.cahee__dscr {
	font-family: Raleway;
    color: @colorCahee;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    width: 369px;
    padding-bottom: 32px;
}

.cahee__btn {
	width: 200px;
	height: 55px;
	background-color:  #ff6033;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    &:hover {
    	background-color: #FFF;
    	color: @colorCahee;
    }
}

.cahee-scroll {
	margin-top: 291px;
	margin-left: 468px;
	width: 24px;
	height: 40px;
	&:hover {
		transform: rotate(180deg);
		transition: transform 1s;
	}
}

.about {
	background: url("image/img2.jpg") no-repeat;
	width: 1500px;
	height: 700px;
	padding-left: 836px;
	padding-top: 179px;
}

.about__title {
	font-family: Raleway;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    line-height: 27px;
    padding-bottom: 30px;
}

.about__dscr {
	font-family: Raleway;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    width: 499px;
    height: 188px;
}